<div class="sidebar">
  <div class="logo-section">
    <div class="orange-square">
        <i class="icon-device"></i> <!-- On mettra une icône plus tard -->
    </div>
    <div class="logo-text">
      <h2>Vente Libre</h2>
      <span>Back Office</span>
    </div>
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active" class="menu-item">
      Dashboard
    </a>
    <a routerLink="/catalogue" routerLinkActive="active" class="menu-item">
      Gestion Catalogue
    </a>
  </nav>


</div>